This is just a comment

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,2,2])

In [3]:
s

0    1
1    2
2    2
dtype: int64

In [4]:
pf=pd.DataFrame(np.random.randn(10,4))
pf

          0         1         2         3
0  0.534528  0.052688 -2.285341 -0.963155
1 -0.731307  0.128520 -0.243905  0.523868
2 -1.202731 -0.601171  0.359171  1.216007
3  1.847768 -1.642558 -0.474237 -0.787539
4 -0.520242 -0.730067  0.496956  1.056003
5 -0.581186 -0.818497  0.138743  0.757221
6 -0.271079 -1.275988  0.845186 -0.328639
7 -0.181426 -1.787920  0.489305 -0.191656
8 -1.263708 -1.830999  0.694893 -1.209387
9  1.403230  0.411865 -0.469187  1.064779

In [10]:
from sklearn import datasets
iris=datasets.load_iris()
data = pd.DataFrame(data=iris.data,columns=['f1','f2','f3','f4'])
data['y']=iris.target
data

      f1   f2   f3   f4  y
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
5    5.4  3.9  1.7  0.4  0
6    4.6  3.4  1.4  0.3  0
7    5.0  3.4  1.5  0.2  0
8    4.4  2.9  1.4  0.2  0
9    4.9  3.1  1.5  0.1  0
10   5.4  3.7  1.5  0.2  0
11   4.8  3.4  1.6  0.2  0
12   4.8  3.0  1.4  0.1  0
13   4.3  3.0  1.1  0.1  0
14   5.8  4.0  1.2  0.2  0
15   5.7  4.4  1.5  0.4  0
16   5.4  3.9  1.3  0.4  0
17   5.1  3.5  1.4  0.3  0
18   5.7  3.8  1.7  0.3  0
19   5.1  3.8  1.5  0.3  0
20   5.4  3.4  1.7  0.2  0
21   5.1  3.7  1.5  0.4  0
22   4.6  3.6  1.0  0.2  0
23   5.1  3.3  1.7  0.5  0
24   4.8  3.4  1.9  0.2  0
25   5.0  3.0  1.6  0.2  0
26   5.0  3.4  1.6  0.4  0
27   5.2  3.5  1.5  0.2  0
28   5.2  3.4  1.4  0.2  0
29   4.7  3.2  1.6  0.2  0
..   ...  ...  ...  ... ..
120  6.9  3.2  5.7  2.3  2
121  5.6  2.8  4.9  2.0  2
122  7.7  2.8  6.7  2.0  2
123  6.3  2.7  4.9  1.8  2
124  6.7  3.3  5.7  2.1  2
125  7.2  3.2  6.0  1.8  2
126  6.2  2.8  4.8  1.8  2
127  6.1  3.0  4.9  1.8  2
128  6.4  2.8  5.6  2.1  2
129  7.2  3.0  5.8  1.6  2
130  7.4  2.8  6.1  1.9  2
131  7.9  3.8  6.4  2.0  2
132  6.4  2.8  5.6  2.2  2
133  6.3  2.8  5.1  1.5  2
134  6.1  2.6  5.6  1.4  2
135  7.7  3.0  6.1  2.3  2
136  6.3  3.4  5.6  2.4  2
137  6.4  3.1  5.5  1.8  2
138  6.0  3.0  4.8  1.8  2
139  6.9  3.1  5.4  2.1  2
140  6.7  3.1  5.6  2.4  2
141  6.9  3.1  5.1  2.3  2
142  5.8  2.7  5.1  1.9  2
143  6.8  3.2  5.9  2.3  2
144  6.7  3.3  5.7  2.5  2
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[150 rows x 5 columns]

In [11]:
data['f1'].mean

<bound method Series.mean of 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: f1, Length: 150, dtype: float64>

In [12]:
data.groupby('y').mean()

      f1     f2     f3     f4
y
0  5.006  3.428  1.462  0.246
1  5.936  2.770  4.260  1.326
2  6.588  2.974  5.552  2.026

In [13]:
data

      f1   f2   f3   f4  y
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
5    5.4  3.9  1.7  0.4  0
6    4.6  3.4  1.4  0.3  0
7    5.0  3.4  1.5  0.2  0
8    4.4  2.9  1.4  0.2  0
9    4.9  3.1  1.5  0.1  0
10   5.4  3.7  1.5  0.2  0
11   4.8  3.4  1.6  0.2  0
12   4.8  3.0  1.4  0.1  0
13   4.3  3.0  1.1  0.1  0
14   5.8  4.0  1.2  0.2  0
15   5.7  4.4  1.5  0.4  0
16   5.4  3.9  1.3  0.4  0
17   5.1  3.5  1.4  0.3  0
18   5.7  3.8  1.7  0.3  0
19   5.1  3.8  1.5  0.3  0
20   5.4  3.4  1.7  0.2  0
21   5.1  3.7  1.5  0.4  0
22   4.6  3.6  1.0  0.2  0
23   5.1  3.3  1.7  0.5  0
24   4.8  3.4  1.9  0.2  0
25   5.0  3.0  1.6  0.2  0
26   5.0  3.4  1.6  0.4  0
27   5.2  3.5  1.5  0.2  0
28   5.2  3.4  1.4  0.2  0
29   4.7  3.2  1.6  0.2  0
..   ...  ...  ...  ... ..
120  6.9  3.2  5.7  2.3  2
121  5.6  2.8  4.9  2.0  2
122  7.7  2.8  6.7  2.0  2
123  6.3  2.7  4.9  1.8  2
124  6.7  3.3  5.7  2.1  2
125  7.2  3.2  6.0  1.8  2
126  6.2  2.8  4.8  1.8  2
127  6.1  3.0  4.9  1.8  2
128  6.4  2.8  5.6  2.1  2
129  7.2  3.0  5.8  1.6  2
130  7.4  2.8  6.1  1.9  2
131  7.9  3.8  6.4  2.0  2
132  6.4  2.8  5.6  2.2  2
133  6.3  2.8  5.1  1.5  2
134  6.1  2.6  5.6  1.4  2
135  7.7  3.0  6.1  2.3  2
136  6.3  3.4  5.6  2.4  2
137  6.4  3.1  5.5  1.8  2
138  6.0  3.0  4.8  1.8  2
139  6.9  3.1  5.4  2.1  2
140  6.7  3.1  5.6  2.4  2
141  6.9  3.1  5.1  2.3  2
142  5.8  2.7  5.1  1.9  2
143  6.8  3.2  5.9  2.3  2
144  6.7  3.3  5.7  2.5  2
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[150 rows x 5 columns]

In [14]:
data.shape()

TypeError: 'tuple' object is not callable

In [15]:
data.shape

(150, 5)

In [16]:
data['y']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
120    2
121    2
122    2
123    2
124    2
125    2
126    2
127    2
128    2
129    2
130    2
131    2
132    2
133    2
134    2
135    2
136    2
137    2
138    2
139    2
140    2
141    2
142    2
143    2
144    2
145    2
146    2
147    2
148    2
149    2
Name: y, Length: 150, dtype: int32

In [17]:
data.describe()

               f1          f2          f3          f4           y
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333    1.000000
std      0.828066    0.435866    1.765298    0.762238    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.350000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [20]:
data['f1'].max()

7.9

In [24]:
data.describe()

               f1          f2          f3          f4           y
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333    1.000000
std      0.828066    0.435866    1.765298    0.762238    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.350000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [5]:
import numpy as np
a= np.array([1,13,56,33])

In [7]:
a

array([ 1, 13, 56, 33])

In [9]:
a[1:3]=-1;

In [12]:
a[0:3]

array([ 1, -1, -1])