In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv('Iris.csv')

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
iris.groupby('Species').describe()

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                PetalLengthCm        ...  SepalLengthCm      SepalWidthCm  \
                        count   mean ...            75%  max        count
Species                              ...
Iris-setosa              50.0  1.464 ...            5.2  5.8         50.0
Iris-versicolor          50.0  4.260 ...            6.3  7.0         50.0
Iris-virginica           50.0  5.552 ...            6.9  7.9         50.0


                  mean       std  min    25%  50%    75%  max
Species
Iris-setosa      3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica   2.974  0.322497  2.2  2.800  3.0  3.175  3.8

[3 rows x 40 columns]

In [9]:
meanPetalLengthSetosa=iris.loc[:,['SepalLengthCm','Species'=='Iris-sestosa']].mean()

C:\Users\syedi\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)